@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --font-roboto: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
}

.app {
  background-color: aliceblue;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: visible;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity .5s, transform .5s;
}

.app.show {
  opacity: 1;
  transform: translateY(0);
}

h1 {
  font-family: "Caveat";
  text-align: center;
  color: black;
  position: relative;
  top: 60px;
  font-size: 50px;
}

#Home {
  height: 700px;
}

#Converter {
  height: 700px;
}

.home {
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  overflow: visible;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 2s, transform 2s;
}

.home.show {
  opacity: 1;
  transform: translateY(0);
}

#name {
  border-radius: 10px;
  box-shadow: 0px 2px 4px black;
  border-color: black;
  font-family: "Caveat";
  font-size: 20px;
  position: relative;
  left: 600px;
  top: 200px;
  width: 300px;
  height: 50px;
}

#output {
  font-family: "Caveat";
  font-size: 35px;
  position: absolute;
  top: 430px;
  right: 840px;
  text-align: center;
  justify-content: center;
}

#main-logo {
  height: 260px;
  width: 260px;
  position: relative;
  right: 150px;
  top: 170px;
}

#start-btn {
  height: 60px;
  width: 60px;
  cursor: pointer;
  box-shadow: 0px 4px 8px black;
  font-size: 30px;
  border-radius: 50px;
  color: black;
  background-color: coral;
  font-family: "Caveat";
  position: relative;
  top: 205px;
  left: 365px;
  transition: transform .3s;
}

.clicked {
  transform: scale(0.9);
  transition: transform .3s;
}

a {
  text-decoration: none;
  color: black;
}

#heading {
  font-family: "Caveat";
  text-align: center;
  color: black;
  position: relative;
  top: 20px;
  font-size: 50px;
}

.error-msg {
  position: absolute;
  opacity: 0;
}

.error-msg.show {
  font-family: "Century Gothic";
  color: black;
  position: absolute;
  opacity: 1;
  left: 675px;
  top: 585px;
  border: 2px solid #FF9393;
  border-radius: 5px;
  background-color: #FF9393;
  padding: 8px;
}

.converter {
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: visible;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 2s, transform 2s;
}

.converter.show {
  opacity: 1;
  transform: translateY(0);
}

.currency-input {
  border-radius: 10px;
  box-shadow: 0px 2px 4px black;
  border-color: black;
  font-family: "Caveat";
  font-size: 20px;
  position: relative;
  left: 600px;
  top: 200px;
  width: 300px;
  height: 50px;
}
